<main-navbar></main-navbar>
<main class="bg-black text-white p-8 pt-11 mt-20">
  <!-- Header Section -->
  <section class="max-w-4xl mx-auto text-center mb-12">
    <h1 class="text-xl sm:text-2xl mb-6">
      Inicia la radio a partir de una canción
    </h1>
    <!-- SearchBar -->
    <dashboard-searchBar></dashboard-searchBar>
  </section>
  <!-- Carousel songs -->
  <section class="max-w-6xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h2 class="sm:text-xl mb-4">Nuevos descubrimientos</h2>
    <h3 class="text-xl sm:text-3xl font-bold mb-6">Podría interesarte...</h3>
    <dashboard-songsCarousel></dashboard-songsCarousel>
  </section>

  <!-- Safe Choices Section -->
  <section class="max-w-6xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h3 class="text-xl sm:text-2xl font-bold mb-6">Podría interesarte...</h3>
    <dashboard-safe-choice-list></dashboard-safe-choice-list>
  </section>

  <section class="max-w-6xl mx-auto mb-8 sm:mb-12 lg:mb-16">
    <h2 class="sm:text-2xl mb-4">Esta semana</h2>
    <h3 class="text-xl sm:text-3xl font-bold mb-6">Tendencias</h3>
    <dashboard-trending-songs></dashboard-trending-songs>
  </section>
</main>
