<div
  class="bg-black text-white h-full w-full mx-auto flex items-center justify-between px-6"
>
  <!-- Song Info -->
  <div class="flex items-center gap-4">
    <img
      src="https://i.pinimg.com/736x/a5/6a/9c/a56a9cf5cef88c0d18f100d86766049c.jpg"
      alt="Cover"
      class="size-12 sm:size-16 rounded-md object-cover"
    />
    <div class="flex-1 truncate">
      <h3 class="text-base md:text-lg font-semibold">No One Noticed</h3>
      <p class="text-xs sm:text-sm text-gray-400">The Marias</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 px-2 sm:px-4">
      <button class="text-gray-400 hover:text-white">
        <lucide-angular
          [img]="Heart"
          class="my-icon"
          [size]="20"
        ></lucide-angular>
      </button>
      <button class="hidden sm:block text-gray-400 hover:text-white">
        <lucide-angular
          [img]="MoreVertical"
          class="my-icon"
          [size]="20"
        ></lucide-angular>
      </button>
    </div>
  </div>

  <!-- Controls -->
  <div
    class="flex flex-col justify-center items-center w-full max-w-3xs xl:max-w-xl"
  >
    <div class="flex gap-x-10 lg:gap-x-16 2xl:gap-x-24">
      <button
        (click)="prevSong()"
        class="hidden sm:block cursor-pointer"
      >
        <lucide-angular
          [img]="SkipBack"
          class="my-icon fill-white"
          [size]="24"
        ></lucide-angular>
      </button>
      <button
        (click)="togglePlay()"
        class="p-2 rounded-full cursor-pointer"
      >
        <lucide-angular
          *ngIf="!isPlaying"
          [img]="Play"
          class="my-icon fill-white"
          [size]="24"
        ></lucide-angular>
        <lucide-angular
          *ngIf="isPlaying"
          [img]="Pause"
          class="my-icon fill-white"
          [size]="24"
        ></lucide-angular>
      </button>
      <button
        (click)="nextSong()"
        class="hidden sm:block cursor-pointer"
      >
        <lucide-angular
          [img]="SkipForward"
          class="my-icon fill-white"
          [size]="24"
        ></lucide-angular>
      </button>
    </div>

    <!-- Progress Bar -->
    <div class="hidden md:flex w-full items-center my-2">
      <span class="text-white text-sm">0:00</span>
      <div class="relative w-full mx-3">
        <div class="relative h-1 w-full bg-gray-600 rounded overflow-hidden">
          <div
            class="absolute left-0 top-0 h-full bg-white"
            [style.width.%]="(60 / 190) * 100"
          ></div>
        </div>
        <svg
          class="absolute top-1/2 -translate-y-1/2 -translate-x-1/2"
          [style.left.%]="(60 / 190) * 100"
          fill="white"
          height="12"
          width="12"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="12" cy="12" r="6" />
        </svg>
      </div>
      <span class="text-white text-sm">3:27</span>
    </div>
  </div>

  <!-- Extra Controls -->
  <div class="flex items-center justify-end gap-4">
    <button class="text-gray-400 hover:text-white">
      <lucide-angular [img]="List" class="my-icon" [size]="24"></lucide-angular>
    </button>
    <button class="text-gray-400 hover:text-white">
      <lucide-angular
        [img]="Volume2"
        class="my-icon"
        [size]="24"
      ></lucide-angular>
    </button>
  </div>

  <!-- Audio Element -->
  <!-- <audio #audio (timeupdate)="updateTime()" (loadedmetadata)="setDuration()">
    <source [src]="song.url" type="audio/mpeg" />
  </audio> -->
</div>
