<div class="flex flex-col min-h-screen">
  <main-navbar />

  <main class="bg-black text-white flex-grow w-full pb-[10vh]">
    <div class="container mx-auto px-4 py-6 h-full">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 min-h-[80vh] pt-20">
        <section
          class="flex flex-row md:flex-col justify-center items-center gap-x-6"
        >
          <player-song />
          <player-song-list />
        </section>

        <section class="flex h-52 place-self-center overflow-y-auto p-1 scroll-hidden scroll-smooth">
          <player-lyrics />
        </section>
      </div>
    </div>
  </main>

  <footer class="bg-white w-full h-[10vh] fixed bottom-0">
    <player-bar />
  </footer>
</div>
